@page "{RoomNumber:int}"
@model RemotePlan.Server.Pages.Room.IndexModel
@{
    Layout = "~/Pages/Shared/_EmptyLayout.cshtml";
    ViewData["Title"] = $"Room {Model.RoomNumber}";
}

<input type="hidden" value="@Model.RoomNumber" id="room-id" />
<div id="app"></div>

<script src="~/js/room.js"></script>
